.container
  .header
    = render partial: 'layouts/header'
  .index_content
    .posts#post_setion
      - @blogs.each do |blog|
        = link_to 'blog/' + blog.id.to_s, class:"post-card" do
          .image
            =image_tag blog.media ,size: "300x200" unless blog.media.blank? 
          .title
            %h2
              =blog.title
          .date
            %h3
              =blog.updated_at.strftime("%B %d, %Y")
          .body-trunc
            %p
              -exPost = blog.content.to_plain_text.index("[")
              -if exPost==nil
                -exPost = blog.content.to_plain_text.length
              =blog.content.to_plain_text.slice(0,exPost) + "..."
                  