.container
  .header
    = render partial: 'layouts/header'
  .blog_content
    .blog#blog_setion
      - @blogs.each do |blog|
        .blog_post
          .date
            %h1
              =blog.updated_at.strftime("%B %d, %Y")
          .title
            %h2
              =blog.title
          .body-trunc
            %p
              -exPost = blog.content.to_plain_text.index("[")
              -if exPost==nil
                -exPost = blog.content.to_plain_text.length
              =blog.content.to_plain_text.slice(0,exPost)
            %p  
              Read more
          .genre
            = fa_icon "folder"
            =blog.genre
  .footer
    = render partial: 'layouts/footer'                  