.wrapper
  .header
    = render partial: 'layouts/header'
  .content
    .content_image
      =image_tag @blogs.media,size: "600x300" unless @blogs.media.blank?
    .content_title
      =@blogs.title
    .content_date
      =@blogs.updated_at.strftime("%B %d, %Y")
    .content_body 
      =@blogs.content
  .post
    = form_with url: 'draft/post',local:true do |form|
      = form.submit "Post"
