!!!
%html
  %head
    = stylesheet_link_tag "blog_page"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title AnyTopicsJapan
    - set_meta_tags title: 'food'
  = render partial: 'layouts/blog_page'
