!!!
%html
  %head
    = stylesheet_link_tag "open"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .header
      = render partial: 'layouts/header'
    .content
      .content_title
        =@blogs.title
      .content_date
        =@blogs.created_at.strftime("%B %d, %Y")
      .content_image
        =image_tag @blogs.media unless @blogs.media.blank?
      .content_body 
        =@blogs.content
      .main_blog_footer_content  
        .main_blog_footer_content_like
          100 likes
        .main_blog_footer_content_tweet
          bird
        .main_blog_footer_content_comment
          comment  
      - if user_signed_in?
        .content_edit
          .content_edit_edit
            =link_to 'Edit', '/blog/' + params[:id] + '/draft/edit', method: :get
          .content_edit_delete
            =link_to 'Delete', '/blog/' + params[:id] + '/destroy', method: :delete
    .footer
      = render partial: 'layouts/footer'
