!!!
%html
  %head
    = stylesheet_link_tag "open"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .header
      = render partial: 'layouts/header'
    .content
      .content_title
        =@blogs.title
      .content_date
        =@blogs.created_at.strftime("%B %d, %Y")
      .content_image
        =image_tag @blogs.media unless @blogs.media.blank?
      .content_body 
        =@blogs.content
      .content_edit
        %a{href: '/blog/' + params[:id] + '/draft/edit'}
          edit
    .footer
      = render partial: 'layouts/footer'
