!!!
%html
  %head
    = stylesheet_link_tag "open"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    .header
      = render partial: 'layouts/header'
    .footer
      = render partial: 'layouts/footer'
      