/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "./actiontext.scss";
 @import "./reset.scss";

.header{
  width: 100%;
  height: 80px;
  top: 0px;
  z-index: 20;
  background-color: #4ABDAC;
  position: fixed;
  box-shadow: 0px 13px 35px -11px  rgba(35,35,35,.15);
  .header_main{
    font-size: 35px;
    color: #444;
    position:absolute;
    top: 15px;
    left: 20%;
    width: 100%;
    a{
      color: white;
    }
  }

  .header_menu{
    font-size: 20px;
    position:absolute;
    top: 25px;
    left: 40%;
    width: 500px;
    .topics{
      list-style: none;  
      li{
        display: inline-block;
        margin-left: 40px;
        a{
          color: white;
        }
      }
    }
  }

.contact{
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    left: 90%;
  }

.sign_out{
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 100px;
  a{
    font-size: 15px;
    padding: 2px;
    border: solid 3px red;
  }
}
}

.header_menu .topics li a:hover{
  color:blue;
}

.topics > li.city {
  position: relative;
}

li.city ul.topics_second {
  position: absolute;
  visibility: hidden;
  background-color: #4ABDAC;
  top: 23px;
  left: 0px;
  width: 180px;
  li{
    padding-top: 15px;
    font-size: 15px;
  }
  a{
   display: block;
   width: 100px;
  }
}

li.city:hover ul.topics_second {
  visibility: visible;
  opacity: 1;
}


.float-sns-box {
  position: absolute;
  top: 300px;
  width: 45px;
  height: 100px;
  display: none;
  border: none;
  z-index: 2;
  background-color: white;
  position: fixed;
}

.twitter {
  color:skyblue;
  margin-top: 20px;
}

.insta{
  margin-left: 2px;
  color:pink;
}

.footer{
  position: relative;
  z-index: 20;
  background-color: #4ABDAC;
  width: 100%;
  height: 60px;
  margin-top: 100px;
  bottom: 0;
  .footer_main{
    a{
    position: absolute;
    padding: 20px 0px 0px 100px;
    color:#fff;
    }
  }
}

.mobile_content{
  display: none;
}

@media (max-width:1220px){
 
  .top_title{
    font-size: 25px;
  }
  .main_title {
    font-size: 20px;
    width: 105px; 
  }
  .sub_title {
    font-size: 20px;
    width: 125px;
  }

  .line1 {
    top: -13px;
  }

  .line2 {
    top: -13px;
  }

  .posts{
    .post-card{
      width: 200px;
    .image{
      width: 200px;
      img{
        width: 200px;
      }
    }
  }
}
.header{
  a{
  font-size: 1rem;
  }
  .contact{
    left: 60%;
  }
}
}

.mobile_header_content{
  z-index: 30;
  width: 100%;
  height: 100%;
  visibility: hidden;
  .mobile_main_title{
    margin: 30px 0px 0px 45%;
  }
  #chk_box{
    visibility: hidden;
  }

  #menu_icon {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    margin: -30px 0 0 92%;
  }

  #menu_icon span, #menu_icon span:before, #menu_icon span:after {
  position: absolute;
  height: 3px;/*line_width*/
  width: 25px;/*line_length*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
  }

  #menu_icon span:before {
    bottom: -8px;
  }
  #menu_icon span:after {
    bottom: -16px;
  }

  .l-drawer__icon{
  .l-drawer__icon-parts{
    background: transparent;
  }
  .l-drawer__icon-parts:before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
  }
  .l-drawer__icon-parts:after{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
  }
}
  //----------------------------------------------------------
  .mobile_main_menu{
    visibility: hidden;
    background-color:white;
    min-height: 1800px;
    z-index: 25;
    &_title{
      border:  solid gray;
      border-width: 0.5px 0px 0px 0px;
      border-color: red;
      padding: 5px 30px 30px 30px;
      p{
        margin-top: 30px;
        text-align: center;
        font-size: 1.5em;
      }
    }
    ul{
      list-style: none;
    }
    &_news{
      float:left;
      width: 50%;
      height: 100px;
      border:  solid gray;
      border-width: 0.5px 0px 0.5px 0.5px;
      border-left-color: transparent;
      box-sizing: border-box;
      p{
        text-align: center;
        line-height: 88px;
      }
  }
      &_blog{
        float: right;
        width: 50%;
        height: 100px;
        border: 0.5px solid gray;
        border-right-color: transparent;
        box-sizing: border-box;
        p{
          text-align: center;
          line-height: 88px;
        }  
      }
      &_post{
        float: left;
        width: 50%;
        height: 100px;
        border: solid gray;
        border-width: 0px 0px 0.5px 0px;
        border-right-color: transparent;
        box-sizing: border-box;
        p{
          text-align: center;
          line-height: 88px;
        }  
      }
      &_city{
        float: right;
        width: 50%;
        height: 100px;
        border: solid gray;
        border-width: 0px 0px 0.5px 0.5px;
        border-right-color: transparent;
        box-sizing: border-box;
        p{
          text-align: center;
          line-height: 88px;
        }  
      }
}
  #chk_box:checked + .mobile_main_menu{
    visibility: visible;
    transition-property: all;
    transition-duration: 5s;
    background-color:white;
    min-height: 1800px;
  }
}

@media (min-width:871px)and(max-width:1100px) {
  .main_image{
    width: 750px;
    .image{
      img{
        width: 250px;
      }
    }
    .image::before{
      width: 250px;
    }
  }
}

@media (max-width:870px) {
  .main_image{
    width: 600px;
    .image{
      img{
        width: 200px;
      }
    }
    .image::before{
      width: 200px;
    }
  }
  .posts{
    width: 100%;
    .post-card{
      width: 150px;
      padding: 0 2em 0 2em;
    .image{
      width: 150px;
      img{
        width: 150px;
      }
    }
  }
}
}

@media (max-width:705px) {
  .main_image{
    display: none;
  }

  .header_main{
    display:none;
  }
  .header_menu{
    display:none;
  }
  .sub_title{
    display:none;
  }
  .main_title{
    width:101px;
    position: relative;
    margin: 0px auto;
  }
  .line1{
    width: 100%;
    margin: 380px 0 0 0;
  }
  .line2{
    display: none;
  }
  .mobile_header_content{
    visibility: visible;
  }

  .mobile_content{
    display:block;
    position: absolute;
    width: 100%;
    margin-top: 81px;
    .mobile_image{
      width: 100%;
      margin: 0 auto;
      img{
        height: 250px;
        width: 100%;
      }
    }
    .mobile_post{
      margin-top: 110px;
      &_list_left{
        display: inline-block;
        margin-left: 15%;
        width:100px;
        img{
          width:200px;
        }
      }
      &_list_right{
        display: inline-block;
        margin-left: 25%;
        width:100px;
        img{
          width:200px;
        }
      }
      .date{
        font-size: 1em;
      }
      .title{
        margin-top: 10px;
        font-size: 1em;
        text-decoration: none;
      }
    }
  }
  .top_title{
    position: relative;
    font-size: 0.5em;
    color:gray;
    width: 50%;
    height:10px;
    margin: 0px auto;
    top: 320px;
    background-color: white;
    border: solid 0.5px gray;
    border-radius: 12px;
    text-align: center;
    padding:2px;
  }

  .post-card{
    display: none;
  }
  .footer{
    position: absolute;
    z-index: 20;
    background-color: #4ABDAC;
    width: 100%;
    height: 60px;
    bottom: 0;
    .footer_main{
      a{
        position: absolute;
        padding: 20px 0px 0px 100px;
        color:#fff;
      }
    }
  }
  
}
