/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "./actiontext.scss";
 @import "./reset.scss";

.header{
  width: 100%;
  height: 80px;
  top: 0px;
  background-color: #4ABDAC;
  position: fixed;
  box-shadow: 0px 13px 35px -11px  rgba(35,35,35,.15);
  z-index: 999999;
  .header_menu{
    width: 100%;
    position: relative;
    margin: 20px 0 0 0;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    z-index: 99999;
    h1{
      width: 35%;
      padding-left: 10%;
      font-size: 35px;
      text-align: center;
      box-sizing: border-box;
      z-index: 30;
      a{
        color: white;
      }
    }
    .topics{
      width: 65%;
      padding-left: 2%;
      list-style: none;
      padding-top: 12px;
      box-sizing: border-box;
      z-index: 30;
      li{
        display: inline-block;
        margin-left: 40px;
        a{
          color: white;
        }
      }
      .shop{
        padding-left: 5%;
      }
    }
    .auth_menu{
      position: absolute;
      width: 100%;
      list-style: none;
      margin: 12px 0 0 85%;
      z-index: 99999;
      li{
        display: inline-block;
        padding-right: 30px;
        a{
          font-size: 15px;
          padding: 2px;
          color:red;
        }
      }
    }
  }
}

.header_menu .topics li a:hover{
  color:blue;
}

.topics > li.food {
  position: relative;
}

li.food ul.topics_second {
  position: absolute;
  visibility: hidden;
  background-color: #4ABDAC;
  top: 23px;
  left: 0px;
  width: 180px;
  li{
    padding-top: 15px;
    font-size: 15px;
  }
  a{
   display: block;
   width: 100px;
  }
}

li.food:hover ul.topics_second {
  visibility: visible;
  opacity: 1;
}

.topics > li.city {
  position: relative;
}

li.city ul.topics_second {
  position: absolute;
  visibility: hidden;
  background-color: #4ABDAC;
  top: 23px;
  left: 0px;
  width: 180px;
  li{
    padding-top: 15px;
    font-size: 15px;
  }
  a{
   display: block;
   width: 100px;
  }
}

li.city:hover ul.topics_second {
  visibility: visible;
  opacity: 1;
}

.footer{
  position: relative;
  background-color: #4ABDAC;
  width: 100%;
  height: 60px;
  margin-top: 100px;
  bottom: 0;
  z-index: 20;
  .footer_main{
    a{
      position: absolute;
      padding: 20px 0px 0px 100px;
      color:#fff;
    }
  }
}

.mobile_header_content{
  width: 100%;
  margin-top: 28px;
  z-index: 20;
  display: none;
  z-index: 99999;
  .l-drawer{
    &__overlay{
      background: #000;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2;
    }
    &__icon-parts,
    &__icon-parts:after,
    &__icon-parts:before{
      -webkit-transition: all .7s ;
      transition: all .7s ;
   }
    &__checkbox{
      display: none;
    }
    &__icon{
      position: fixed;
      margin-top: -45px;
      left: 87%;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      display: block;
      content: '';
      cursor: pointer;
      z-index: 4;
      &-parts,
      &-parts:before,
      &-parts:after{
        background-color: #000;   
        display: block;
        width: 26px;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      &-parts:before,
      &-parts:after{
        content: " ";
      }
      &-parts:before{
        top: 16px
      }
      &-parts:after{
        top: -16px
      }
    }
  
    &__checkbox:checked ~ {
      .mobile_header_menu{
       position: fixed;
       top: 80px;
       z-index: 99999;
      }
      .l-drawer__overlay {    
        opacity: 0.3;
        pointer-events: auto;
      }
      .l-drawer__icon{
        .l-drawer__icon-parts{
          background: transparent;
          background-color: transparent;
        }
        .l-drawer__icon-parts:before{
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 0;
        }
        .l-drawer__icon-parts:after{
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 0;
          }
       }
     }
  }
  .mobile_header_menu{
    width: 100%;
    background-color:white;
    position: fixed;
    display: block;
    top: -1000px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all .7s ;
    transition: all .7s ;
    z-index: 9999;
    &_wrapper{
      width: 100%;
      position: relative;
      z-index: 25;
      list-style: none;
      background-color:white;
      z-index: 99999;
      a{
        font-size: 25px;
        text-decoration: none;
        color: #676767;
      }
      &_all{
        border-bottom: 1px solid;
        padding: 10px 0 10px 10%;
      }
      &_first{
        border-bottom: 1px solid;
        padding: 10px 0 10px 10%;
      }
      &_second{
        border-bottom: 1px solid;
        padding: 10px 0 10px 10%;
      }
      &_city{
        border-bottom: 1px solid;
        padding: 10px 0 10px 10%;
          ul{
            list-style: none;
            li{
              padding: 5px 0 0px 5%;
            }
          }
        }
      &_shop{
        border-bottom: 1px solid;
        padding: 10px 0 10px 10%;
      }
      &_contact{
        border-bottom: 1px solid;
        padding: 10px 0 10px 10%;
      }
      }
     }
}


.sub_info_mobile{
  display: none;
}

@media (max-width:1295px){
  .header{
    .header_menu{
      font-size: 18px;
      .main_title{
        padding-left: 10%;
        font-size: 32px;
        a{
        }
      }
      .topics{
        li{
          a{
          }
        }
        .shop{
          margin-left: 2%;
        }
        .contact{
          margin-left: 2%;
        }
      }
      .auth_menu{
        margin-left: 85%;
        li{
          a{
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width:1110px){
  .header{
    .header_menu{
      font-size: 16px;
      .main_title{
        width: 40%;
        font-size: 28px;
        a{
        }
      }
      .topics{
        width: 65%;
        margin-left: -7%;
        li{
          a{
          }
        }
        .shop{
          margin-left: -1%;
        }
        .contact{
          margin-left: 3%;
        }
      }
      .auth_menu{
        margin-top: 35px;
        margin-left: 80%;
        li{
          a{
            font-size: 16px;
          }
        }
      }
    }
  }

li.city ul.topics_second {
  width: 100px;
  li{
  }
  a{
  }
}
}

@media (max-width:800px){
  html{
    background-color: white;
  }
  .header{
    .header_menu{
      .main_title{
        width: 100%;
        margin: 0 auto;
        text-align: left;
        a{
        }
      }
      .topics{
        display: none;
        li{
          a{
          }
        }
        .contact{
        }
      }
      .auth_menu{
        visibility: hidden;
        li{
          a{
          }
        }
      }
    }
  }
  .mobile_header_content{
    display: block;
  }
  .sub_info_mobile{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: block;
    &_self_introduction{
      width: 100%;
      padding-bottom: 30px;
      background-color: #D3D3D3;
      height: auto;
      text-align: center;
      border: solid 1px;
      #name{
        font-size: 20px;
        margin: 10px 0 0 0;
      }
      &_title{
        height: 30px;
        font-size: 20px;
        padding-top: 10px;
        background-color: #78B9FF;
        text-align: center;
        color:white;
      }
      &_image{
        img{
          width: 100px;
          height: 100px;
          margin-top: 30px;
        }
      }
      &_sns{
        display: flex;
        margin: 15px auto 0 39%;
        #tweet{
          font-size: 14px;
          a{
            color:skyblue;
          }
        }
        #insta{
          background-image:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%);
          border-radius:10px;
          margin-left: 18px;
          padding: 5px;
          box-shadow:0px 2px 0px -1px #224;
          text-align:center;
          font-size: 10px;
          height: 29px;
          a{
            color: #fff;	
          }
        }
      }
    }
  }
  .footer{
    position: relative;
    background-color: #4ABDAC;
    width: 100%;
    height: auto;
    z-index: -1;
    .footer_main{
      width: 100%;
      height: 60px;
      a{
        padding: 20px 0px 0px 5%;
        color:#fff;
        background-color: #4ABDAC;
      }
    }
  }
}
