.container{
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color:white;
}

.top_title{
  font-family: 'Open sans', sans-serif; 
  font-size: 30px;
  position: relative;
  margin: 150px 0px 0px 450px;
  padding: 0 30px 0 30px;
  z-index: 5;
}

.sub_title{
  font-family: 'Open Sans Condensed', sans-serif;
  width:200px;
  font-size: 30px;
  color: #4ABDAC;
  position: absolute;
  margin: 40px 600px 0px 600px;
  padding: 0 10px 0 10px;
  background-color: white;
  z-index: 5;
}

.line1 {
  position: absolute;
  width: 1040px;
  top: 85px;
  border: none;
  border-top: 1px solid #4ABDAC;
  margin-left: 200px;
}

.main_image{
  z-index: 1;
  width: 1040px;
  padding: 100px 0 0 200px;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  .image{
    z-index: 1;
    background-size: cover;
    position: relative;
    height:100%;
    }
  .image::before{
      content: ' ';
      background-color: rgba(0,0,0,.5);
      position: absolute;
      height: 200px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
     }
   .title{
     margin-top: -50px;
     z-index: 99999;
     position: relative;
    } 
      h1{
      line-height:2px;
      text-align: center;
      color: white;
      } 
}

.main_title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  color: #4ABDAC;
  position: absolute;
  margin: 80px 600px 0px 600px;
  padding: 0 30px 0 30px;
  background-color: white;
  z-index: 5;
}

.line2 {
  position: absolute;
  width: 1040px;
  top: 425px;
  border: none;
  border-top: 1px solid #4ABDAC;
  margin-left: 200px;
}

.posts {
  margin-top: 150px;
  padding-right: 160px;
  padding-left: 160px;
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
  flex-wrap: wrap;
}

.post-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
  margin: 20px 0px;
  .image {
    width: 100%;
    height: 200px;
  } 
  .image:hover{
    opacity : 0.5;
  }
}

.title{
  color:#4ABDAC;
  font-size: 20px;
  margin-top: 40px;
}

.title:hover{
  text-decoration: underline;
}

.date{
  color:black;
  margin-top: 15px;
}

.body-trunc {
  color: #777777;
  margin-top: 15px;
  margin-right: 10px;
  p{
    text-decoration: none;
  }
  .more{
    margin-top: 30px;
  }
}
