.blog_edit_form_area{
  margin: 100px 0 0 400px;
  .title_form{
    #blog_title{
    width: 800px;
  }
}
img{
  width: 800px;
  height: 300px;
}
  .trix-content{
    width: 800px;
    height: 500px;
    }
}