.blog_content{
  .new_post{
    width: 30px;
    margin: 50px 0 0 100px;
    a{
      border: solid 1px #4ABDAC;
      background-color: #4ABDAC;
      border-radius:  20px 20px 20px 20px;
      padding: 5px;
      color:white;
      font-size: 20px;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  .blog{
    margin-top: 10px;
    .blog_post{
      border: 1px solid gray;
      background: white;
      padding: 10px;
      text-align: left;
      width: 60%;
      margin: 30px 0 0px 100px;
      font-size: 17px;
    }
  .title{
    margin: 30px 0 0 0;
    font-size: 40px;
    a{
      color: #4ABDAC;
    }
  }
  .body-trunc{
    margin: 50px 0 0 0;
  }
  .genre{
    margin: 50px 0 0 0;
  }
  }  
}
.category{
  position: relative;
  top: 200px;
  margin-left: 1050px;
  .blog_category{
    margin-top: 15px;
  }
}  

.page{
  nav{
    padding-top: 20px;
    padding-left: 100px;
    }
}