.blog_post_form_area{
  margin-top: 100px;
  .blog_field{
    .title_form{
      margin: 30px 0 0 0px;
      label{
        margin-left: 310px;
      }
      #title{
        margin-left: 310px;
        width: 800px;
      }
      #genre{
        margin-left: 310px;
        width: 80px;
        height: 10px;
      }
  }
}

  trix-toolbar{
    margin-left: 310px;
  }
  .trix-button-group.trix-button-group--history-tools{
    margin-right: 310px;
  }

  #media{
    margin-left: 310px;
  }

  #content{
    margin: 0 auto;
    width: 800px;
    height: 500px;
  }
  
  input[type="file"]{
    margin-bottom:20px;
  }
  
  input[type="submit"]{
    border-radius: 4px;
    width: 800px;
    margin: 30px 0 0 310px;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white; 
  }
}
