.wrapper{
  height: 100%;
    .blog_edit_form_area{
      width: 60%;
      margin: 100px auto 0 auto;
      padding: 30px 0px 30px 0px;
      background-color: white;
      form{
        width: 100%;
        .blog_edit_form_area_title{
          textarea{
            width: 80%;
            height: 30px;
            display: block;
            margin: 0 auto;
            font-size: 20px;
          }
          #blog_genre{
            width: 20%;
            height: 30px;
            display: block;
            margin: 5px 0 0 9.7%;
            font-size: 20px;
          }
          #blog_pref_name{
            width: 20%;
            height: 30px;
            display: block;
            margin: 5px 0 0 9.7%;
            font-size: 20px;
          }
          #blog_city_name{
            width: 20%;
            height: 30px;
            display: block;
            margin: 5px 0 0 9.7%;
            font-size: 20px;
          }
          #blog_food_name{
            width: 20%;
            height: 30px;
            display: block;
            margin: 5px 0 0 9.7%;
            font-size: 20px;
          }
          #blog_media{
            display: block;
            margin: 20px 0 0 9.7%;
          }
        #blog_content{
          width: 80%;
          margin: 0 auto;
          min-height: 20em;
          max-height: 20em;
          overflow-y: auto;
          img{
            width: 200px;
            height: 100px;
          }
         }
        }
      .trix-button-row{
        margin: 20px 0 0 9.7%;
        .trix-button-group.trix-button-group--history-tools{
          margin-right: 25%;
        }
      }
   
       input[type="submit"]{
        width: 60%;
        height: 40px;
        margin: 20px 0 0 20%;
        font-size: 20px;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #3CBC8D;
        color: white; 
      }
    }
}
}
