  .wrapper{
    height: 100%;
  }
  .blog_edit_form_area{
    width: 54%;
    height: 100%;
    margin: 100px auto 0 auto;
    padding: 30px 0px 0px 0px;
    background-color: white;
    form{
        label{
          width:60%;
          display: block;
          margin: 10px auto 0 auto;
        }
        textarea{
          width: 60%;
          height: 30px;
          display: block;
          margin: 0 0 0 20%;
          font-size: 20px;
        }
        #blog_genre{
          width:10%;
          height: 20px;
          display: block;
          font-size: 15px;
        }
        #blog_city_name{
          width: 5%;
          height: 20px;
          display: block;
          font-size: 15px;
        }
        #blog_media{
          display: block;
          margin: 20px 0 0 20%;
        }
        #blog_content{
          width: 59%;
          margin: 20px 0 0 20%;
          min-height: 20em;
          max-height: 20em;
          overflow-y: auto;
          img{
            width: 200px;
            height: 100px;
          }
         }
      .trix-button-row{
        margin: 20px 0 0 20%;
        .trix-button-group.trix-button-group--history-tools{
          margin-right: 25%;
        }
      }
   
       input[type="submit"]{
        width: 60%;
        height: 40px;
        margin: 20px 0 0 20%;
        font-size: 20px;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #3CBC8D;
        color: white; 
      }
    }
}

.footer{
  margin-top: 0px;
}