.content{
  width: 100%;
  margin-left: 300px;
  margin-top: 150px;
  .content_title{
    margin-top: 30px;
    font-size: 30px;
    color:#4ABDAC;
    font-size: 30px;
    font-family: 'Open sans', sans-serif;
  }
  .content_date{
    margin-top: 10px;
    color:black;
  }
  .content_body{
    color: #777777;
    font-size: 20px;
    margin-top: 50px;
    figure{
      margin-top: 30px;
      margin-left: -520px;
    }
  }
}
.edit{
  margin: 50px 0 0 300px;
  a{
  font-size: 20px;
  color: blue;
  }
}

.draft_post{
  margin: 50px 0 0 300px;
  input{
    width: 100px;
    background-color: #4ABDAC;
    color: white;
    border-radius: 100px;
  }
}

.draft_edit{
  margin: -20px 0 0 450px;
  input{
    width: 100px;
    background-color: #4ABDAC;
    color: white;
    border-radius: 100px;
  }
}
