.sub_info_mobile
  .sub_info_mobile_self_introduction
    .sub_info_mobile_self_introduction_title
      %p
        Author
    .sub_info_mobile_self_introduction_image
      = image_tag "utcXEvni_400x400.jpg"
    %p#name
      You-Ichi
    %p#tweet
      %a{href: 'https://twitter.com/Youu_Ichi'}
        = fa_icon "twitter 3x" 
    %p#explanation1
      Freelance Developer
    %p#explanation2
      &  
    %p#explanation3
      Sales Representative
    %p#explanation4
      &
    %p#explanation5
      Coffee Lover!
.footer_main#footer_id
  %a{href: "/"}
    AnyTopicsJapan
  