.sub_info_mobile
  .sub_info_mobile_self_introduction
    .sub_info_mobile_self_introduction_title
      %p
        Contact
    .sub_info_mobile_self_introduction_image
      = image_tag "logo.png"
    %p#name
      AnyTopicsJapan
    .sub_info_mobile_self_introduction_sns    
      %p#tweet
        %a{href: 'https://twitter.com/AnyTopicsJapan'}
          = fa_icon "twitter 3x"
      %p#insta
        %a{href: 'https://www.instagram.com/anytopicsjapan/'}
          = fa_icon "instagram 3x"          
    //%p#explanation1
    //  Freelance Developer
    //%p#explanation2
    //  &  
    //%p#explanation3
    //  Sales Representative
    //%p#explanation4
    //  &
    //%p#explanation5
    //  Coffee Lover!
.footer_main#footer_id
  %a{href: "/"}
    AnyTopicsJapan
  