.header_main
  %a{href: "/"}
    AnyTopicsJapan
.header_menu
  %ul.topics
    %li.news
      = link_to 'News', '#'
    %li.blog
      = link_to 'Blog', '/blog'
    %li.post
      = link_to 'Post', '/post_image'   
    %li.city
      %a
        City
        %ul.topics_second
          %li
            %a{href: "#"}
              Osaka
          %li
            %a
              Tokyo     
    %li.shopping
      //Shopping
    %li.japanese
      //Japanese
.contact
  contact
.sign_out
  =link_to 'SignOut', "/users/sign_out", method: :delete if user_signed_in?
  