.header_main
  AnyTopicsJapan
.header_menu
  %ul.topics
    %li.news
      News
    %li.blog
      = link_to 'blog', 'blog'
    %li.shopping
      Shopping
    %li.japanese
      Japanese
.contact
  contact
  