.header_main
  .float-sns-box
    = link_to "#" do
      =fa_icon 'flag-icon flag-icon-jp'
  AnyTopicsJapan
.header_menu
  %ul.topics
    %li.news
      = link_to 'Blog', 'blog'
    %li.ciry
      City
    %li.shopping
      //Shopping
    %li.japanese
      //Japanese
.contact
  contact
  